@import "variables";
@import "mixins";
@import "media";
@import "general";

* {
    font-family: Museo Sans;
}
.container {
    max-width: 950px;
    margin: 0 auto;
}
@import "blocks/promo";
@import "blocks/header";