.description {
    width: 250px;
    margin-top: 30px;
    &__heading {
        font-weight: 700;
        font-size: 18px;
        text-align: center;
        color: #0D0D0D;
    }
    &__text {
        font-weight: 300;
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
        color: #0D0D0D;
        &_mod {
            span {
                font-family: Museo Sans Italic;
                font-weight: 700;
                color: #f00;
            }
        }
    }
}